{#
/**
 * @file
 * Template for the News archive.
 *
 * Available variables:
 * - items: List of News. Each item contains:
 *   - title
 *   - sub_title
 *   - description.
 */
#}
<div class="row column text-center">
    {% for item in items %}
    <h2>{{ item.title }}</h2>
    <p>{{ item.sub_title }}</p>
    <p>{{ item.description }}</p>
        <hr />
    {% endfor %}
</div>
