{#
/**
 * @file
 * Template for the single News.
 *
 * Available variables:
 * - items: List of News. Each item contains:
 *   - title
 *   - sub_title
 *   - description.
 */
#}
<div class="row column text-center">
    <h2>{{ items['item'].title }}</h2>
    <hr />
    <p>{{ items['item'].sub_title }}</p>
    <p>{{ items['item'].description }}</p>
</div>